
.client {
    padding: 0px 0px;
    background-color: #FCF8E3;
}
.client-wrapper{
    background-color: #903728;
    border-radius: 10px;
    padding: 30px;
}

.client-say {
    text-align: center;
    color: #FCF8E3;
    font-size: 48px;
    font-weight: 500;
}

/* Card */
.client-card {
    background-color: #ffffff;
    border-radius: 18px;
    transition: 0.3s;
}

.client-card:hover {
    transform: translateY(-5px);
}

/* Image */
.client-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

/* Name */
.client-name {
    font-weight: 600;
    margin-top: 10px;
}

/* Stars */
.star {
    width: 16px;
    margin-right: 2px;
}

/* Text */
.client-text {
    font-size: 12px;
    color: #555;
}