
.contact-section {
  background: #8b3f2f; /* same brown tone */
}
.contact-section h2,.contact-section p{
    color: #FCF8E3;
}

/* Arrow */
.sarrow {
  font-size: 40px;
  transform: rotate(310deg);
  margin: 15px 0px;
}

/* Social Icons */
.contact-section i {
  font-size: 18px;
  cursor: pointer;
}

/* Instagram Boxes */
.insta-box {
  width: 70px;
  height: 70px;
  background: #bfbfbf;
  border-radius: 8px;
}

/* Menu */
.contact-section ul li {
  font-size: 12px;
  letter-spacing: 1px;
  cursor: pointer;
}

/* Mobile Fix */
@media (max-width: 768px) {
  .contact-section ul,
  .contact-section p {
    text-align: left !important;
  }

  .insta-box {
    width: 60px;
    height: 60px;
  }
}