@import "tailwindcss";
/* common css */
.container-set{
  margin: 0px 100px;
}


@media (max-width:768px) {
  .container-set{
    margin: 0px 50px;
  }
}


/* anchor tag */
a{
  text-decoration: none !important;
}

/* poppin font*/
/* it used for li,button,Link tags */
.pop, .nav-link{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* these fonts only using for homesection */
/* lato font*/
.lato{
  font-family: "Lato", sans-serif;
  font-weight: 1000;
  font-style: normal;
}

/* overpass font */
.overpass{
    font-family: "Overpass", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.outfit{
  font-family: "Outfit", sans-serif;
  font-size: 60px;
  font-weight:700;
}

@font-face {
  font-family: "gia";
  src: url('./assets/fonts/Giahfita/Giahfita.otf');
}
.giafita{
  font-family: "gia";
}

html,body{
  overflow-x: hidden !important;
  width: 100% !important;
}

.btnanimate{
    transition: transform 0.3s ease;
}
.btnanimate:hover{
    transform: scale(1.1);
}
